// Colors
$black-shadow:              rgba(0, 0, 0, 0.1);
$bluish:                    #6494AA;

$dark-white:                #EBEBEB;

$green:                     #90A959;
$very-light-green:          #CAD2C5;

$purple:                    #52489C;